// Fonts
$main_font: "Overpass", sans-serif;

// Media Queries
$tablet: 768px;

// Colors

// Primary Color
$orange: hsl(25, 97%, 53%);

// Neutral Colors
$white: hsl(0, 0%, 100%);
$light_grey: hsl(217, 12%, 63%);
$medium_grey: hsla(216, 12%, 54%, 0.15);
$dark_blue: hsl(213, 19%, 18%);
$very_dark_blue: hsl(216, 12%, 8%);
